## String

In [2]:
# 1
name=input("Enter your name:")
print("Hello {} !".format(name))

Enter your name:manisha
Hello manisha !

In [3]:
# 2. from below string print count of "Is".
string="He is Amol and she is chaitali"
count=string.count("is")
print("count of is {}".format(count))

count of is 2

In [4]:
#3. from below string split the words by spaces
string="Data is new oil"
string_1=string.split()
print(string_1)

['Data', 'is', 'new', 'oil']

In [5]:
#4. Now from below list,join all words by "=" and ceate a sentence
list=["Data","is","new","oil"]
string="=".join(list)
print(string)

Data=is=new=oil

In [6]:
#5. from below string replace "java" with "python"
sentence="I love programming in java"
string=sentence.replace("java","python")
print(string)

I love programming in python

In [7]:
#6. from below string remove(strip) additional space and print it
message="  This is a message with spaces.  "
strip_message=message.strip()
print(strip_message)

This is a message with spaces.

In [9]:
# 7 From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
string=sentence.find("sample")
print(string)

10

In [11]:
# 8.Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
length=len(text)
print(length)

14

In [12]:
# 9. Print below string in reverse order
string = "Pineapple"
string_1=string[::-1]
print(string_1)

elppaeniP

In [15]:
# 10. Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
modified_string=text.title()
print(modified_string)

Welcome To Python Programming.

In [16]:
# 11. Convert all letter of string to Upper Case
text = "Data is new oil"
upper_string=text.upper()
print(upper_string)

DATA IS NEW OIL

In [21]:
# 12. From below string just convert first lettter of string to upper case
text = "i am learning python"
string =text.title()
print(string)

I Am Learning Python

In [24]:
text = "i am learning python"
string =text.capitalize()
print(string)

I am learning python

In [22]:
# 13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
modified_string=text.swapcase()
print(modified_string)

dAta IS nEw Oil

In [25]:
# 14. print the addition of below 2 strings
a = 20
b = 30
c= a+b
print(c)

50

In [27]:
# 14. print the addition of below 2 strings
a = 20
b = 30
result = str(a) + str(b)
print(result)

2030

In [28]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
c=int(a)+ int(b)
print(c)

50

In [29]:
a = "20"
b = "30"
result = str(a) + str(b)
print(result)

2030

In [1]:
# 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]= 44
print(my_list)

[1, 2, 3, 44, 5]

In [3]:
# 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)

In [4]:
print(my_list)

[1, 2, 3, 200, 4, 5]

In [5]:
# 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)

In [6]:
print(my_list)

[1, 2, 3, 4, 5, 66]

In [7]:
# 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 66)  
my_list.insert(4, 87) 
my_list.insert(5, 99)

In [8]:
print(my_list)

[1, 2, 66, 3, 87, 99, 4, 5]

In [9]:
# 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)

In [10]:
print(my_list)

[1, 2, 4, 5]

In [11]:
# 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [12]:
# 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [13]:
# 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list[:-1]

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [14]:
#24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()

In [15]:
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [16]:
# 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)

In [17]:
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

 ### 26. Create a list Named myList that has three elements
1.The integer 3
2.The string "Element number two"
3.Another list["Last","Element"]

in that order

In [1]:
mylist =[3,"element number two",["last","element"]]

In [2]:
### 27. print the third element of the following list
l=[1,2,3,4,5,6,7,8,9]
print(l[2])

3

In [3]:
 # 28. modify th elist element of this list so that its value  is 16. print the modified list so you know the operation was performed successully.
listToModify=["a","b","sixteen"]
listToModify[-1] = 16
print(listToModify)

['a', 'b', 16]

In [4]:
# 29. Calculated the length of the following list
listToFindLength=["this","is","the","list","whose","length","I","want"]
print(len(listToFindLength))

8

In [5]:
#30 . Calculated the sum of the following list

intList = [54, 678, 2890]
sum(intList)

3622

In [6]:
# 31. Find the maxinum value the following list
maxlist=[677,53245,234,536,23456,345,23526,3454]
max(maxlist)

53245

In [7]:
# 32. Find the minimun value the following list
minlist=[351,984,169,284,134,467,164]
min(minlist)

134

In [8]:
# 33. Append the string "append mel" to the end of the following list. print the list to operation has been completed successfully.
listToAppend=[1,2,3]
listToAppend.append("append mel")
print(listToAppend)

[1, 2, 3, 'append mel']