## Strings:-

In [1]:
# string in python are surrounded by either single quotation marks, or double quotation marks.
# "India is the same as "India"

## Create a variable containing string

In [2]:
a="india"
print(a)

india

## Multiline string: should enclosed within triple single /double quotes

In [3]:
a="""this is a multiline string.
I am writing this string for demo purpose.
you can see it is enclosed within trice double quotes"""
print(a)
# can notice in result that new line is printed same as it is written

this is a multiline string.
I am writing this string for demo purpose.
you can see it is enclosed within trice double quotes

## SLICING

In [ ]:
# You can slice the string by passing its index
# Positive index start from ZERO and goes from left to Rigth
# Negative index start from -1 and goes from Rigth to Left
# Starting index starts slicing from same index
# Ending index ends slicingone step before.
# Sytax: String[Start:Stop:Step]
# Explin:
 #   -5   -4  -3  -2  -1  (left to Rigth) 
     I    N   D   I   A  
     0    1   2   3   4  (Rigth to Left)

In [ ]:
# Slice string from index  2 to 4
# You can notice slicing start from 2(start index) but it ended at 3 insted of 4

In [4]:
country="India"
country[2:4]

'di'

In [5]:
# slice to the End: If end index missing then it will take default=last index
country="India"
country[2:]

'dia'

In [6]:
# slice from the start: If start index missing it will take default=0
country="India"
country[:4]

'Indi'

## Negative indexing

In [7]:
# you can use negative index in same as we used positive

In [8]:
# slice letter di using negative indexing
country="India"
country[-3:-1]

'di'

## Steps In Slicing

In [ ]:
# steps decide the direction of printing for sliced index and how many steps
## positive step means left to rigth and negative step means rigth to left
## Default step=1, means take a 1 step from left to rigth
## step=-2 , means take 2 steps from rigth to left
## .Approach should be as following

## 1. Start slicing from startindex
## 2. End slicing at Endinex-1
## 3. After slicing between start and end index check step
## 4. Print letter as per step sign and value

In [9]:
# slice with step2: you can notice in result , after "H" it took 22 stps in rigth "l" and continue to do same

string="Hello World"
string[0:12:2]

'HloWrd'

## String Concatenation

In [10]:
# To concatenate , or combine , two strings you can use the + operator
# If you  want to add space then use syntax: a+" "+b

In [11]:
# without space
a="Hello"
b="World"
c=a+b
print(c)

HelloWorld

In [13]:
# with space
a="Hello"
b="World"
c=a+" "+b
print(c)

Hello World

## String Format

In [14]:
# Format() method takes the arguments in sequence and place them ata placeholder {}.
# If inside curly bracket, you are putting 1 like {2} then first passed arguments will get places ata{2}.

In [16]:
a="My Name Is {} and I am {} years old ".format("Manisha",26)
print(a)

My Name Is Manisha and I am 26 years old

In [18]:
# Now pass position of passed arguments: You can notice that {1} replaced with 21 and {0} replaced with Rahul
# reason index of Rahul=0 and 21=1 in passed arguments
a = "My Name Is {1} and I am {0} years old".format("Manisha",26)
print(a)

My Name Is 26 and I am Manisha years old

In [20]:
Quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(Quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Commonly used ESCAPE character

In [21]:
# Single Quote
string = 'It\'s correct.'
print(string)

It's correct.

In [22]:
# Backslash
string = "Lets insert one \\ (backslash)."
print(string)

Lets insert one \ (backslash).

In [23]:
# New Line
string = "Hello\nWorld!"
print(string)

Hello
World!

## POPULAR STRING METHODS (10 Steps)

In [24]:
# 1. capitalize(): Convert the first character to upper case

In [25]:
string ="this will convert first character to upper case "
x=string.capitalize()
print(x)

This will convert first character to upper case

In [26]:
# 2. center(): Returns a centered string after padding it with the specified character

In [28]:
string="India"
x=string.center(30,"#")
print(x)

############India#############

In [29]:
# 3. count(): Returns the number of times a specified value occurs in a string

In [31]:
string="Take left and then take first left"
x=string.count("left")
print(x)

2

In [32]:
# 4. lower(): Converts a string into lower case

In [33]:
string="MANISHA IS GOOD GIRL"
lower_str=string.lower()
print(lower_str)

manisha is good girl

In [35]:
# 5. upper(): Converts a string into upper case

In [37]:
string="manisha is good girl"
upper_str=string.upper()
print(upper_str)

MANISHA IS GOOD GIRL

In [38]:
# 6 replace(): replace spacified value with given value

In [39]:
string="I love apple"
x=string.replace("apple","mango")
print(x)

I love mango

In [40]:
# 7. title(): Converts the first character of each word to upper case

In [41]:
string="Manish is good girl"
x=string.title()
print(x)

Manish Is Good Girl

In [42]:
# 8. swapcase(): Swaps cases, lower case becomes upper case and vice versa

In [44]:
string="MANISHA is good girl"
x=string.swapcase()
print(x)

manisha IS GOOD GIRL

In [45]:
# 9. index(): it returns inedx of given value

In [46]:
string="MANISHA is good girl"
x=string.index("is")
print(x)

8

In [47]:
# 10. split(): it break string from given value and creates list

In [48]:
# split the string using space
string="Manisha is good girl"
split_string=string.split(" ")
print(split_string)

['Manisha', 'is', 'good', 'girl']

## STRING METHODS:

In [ ]:
# 1 capitalize(): convers the first character to upper case
# 2 center(): Returns  a centered string
# 3 count(): Returns the number of times a specified value occurs in a string
# 4 lower(): converts a string into lower case
# 5 upper(): converts a string into upper case
# 6 replace(): replace specified value with given value
# 7 title(): Converts the first character of each word to upper case
# 8 swapcase(): swaps cases , lower case becomes upper case and vice versa
# 9 index(): it returns index of given value
# 10 split(): it breaks string from given value and creates list

In [50]:
# 1. write a python program  to calculate the length of string
string="Data is new oil"
print(len(string))

15

In [51]:
# 2. Find the count of word "data".
string="data is new oil hence data science is emerging field"
x=string.count("data")
print(x)

2

In [59]:
# 3. Using string slicing and step print result ="IDA"

string = "INDIA"
result = string[0:4:2]
print(result)

ID

In [60]:
# 4. Replace "good" with "bad"
string = "Rahul is good boy"
x=string.replace("good","bad")
print(x)

Rahul is bad boy

In [ ]:
# 5. Check if string starts with "data"
string = "data is new oil"

In [ ]:
# 6. print the starting index of "boy"
string = "Rahul is good boy"

In [61]:
# 7. swape the upper case to lower case and lower case to upper case
string = " DATA is new OIL"
x=string.swapcase()

print(x)

 data IS NEW oil

In [62]:
# 8. Split the sentence at every slash "/"
string = "data/is/new/oil"
x=string.split(" ")
print(x)

['data/is/new/oil']

## LIST

In [1]:
# 1. Replace element of list: Banana=> apple
fruits=["Mango","Banana","Cherry","Grapes"]
fruits[1]="Apple"

In [2]:
print(fruits)

['Mango', 'Apple', 'Cherry', 'Grapes']

In [3]:
# 2. Appends Element to list
fruits=["Mango","Banana","Cherry","Grapes"]
fruits.append("Apple")

In [4]:
print(fruits)

['Mango', 'Banana', 'Cherry', 'Grapes', 'Apple']

In [5]:
# 3. Extend element to list
fruits=["Mango","Banana","Cherry","Grapes"]
fruits.extend(["Apple","Kiwi"])

In [6]:
print(fruits)

['Mango', 'Banana', 'Cherry', 'Grapes', 'Apple', 'Kiwi']

In [7]:
# 4. insert element to list
fruits=["Mango","Banana","Cherry","Grapes"]
fruits.insert(1,"Apple")

In [8]:
print(fruits)

['Mango', 'Apple', 'Banana', 'Cherry', 'Grapes']

In [9]:
# 5. remove element to list
fruits=["Mango","Banana","Cherry","Grapes"]
fruits.remove("Banana")

In [10]:
print(fruits)

['Mango', 'Cherry', 'Grapes']

In [11]:
# 6. pop element to list
fruits=["Mango","Banana","Cherry","Grapes"]
fruits.pop(2)

'Cherry'